.admincontent{
    min-height:100vh;
    background-color:#ebedef;
    width:80vw !important;
}
.dashboardTitle {
    font-family: montserrat-regular;
  }
  .dashboardTileContainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
  }
  .dashboardTile2Container {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 0px 40px;
  }
  .dashboardCard2Container {
    height: 45vh;
    width: 32vw;
    background-color: white;
    padding: 10px 20px;
    font-family: "Inter";
  }
  .dashboardCard2Wrapper1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .dashboardCard2Tile1 {
    height: 80px;
    width: 170px;
    background-color: #b3dbf2;
    color: #36b3e8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .dashboardCard2Tile2 {
    height: 80px;
    width: 170px;
    background-color: #b7f7d7;
    color: #3ddb9c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .dashboardCard2Tile3 {
    height: 80px;
    width: 170px;
    background-color: #cedbd6;
    color: #8c9190;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .dashboardCard2Tile4 {
    height: 80px;
    width: 170px;
    background-color: #ebbba7;
    color: #e06f43;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .dashboardTile3Container {
    padding: 30px 40px 30px 40px;
  }
  
  .dashboardAdminGraph {
    margin-top: 100px;
  
    margin-left: 100px;
  }
  