.thcmyordersmaincontainer {
  min-height: 100vh;
  padding-top: 10vh;
}
.thcmyorderswrapper {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #000;
  color: #fff;
}
.thcmyorderlabels {
  width: 15vw;
  height: 40px;
  margin-bottom: 20px;
  border-right: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.thcordercardcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #090a0c;
  height: 90vh;
  overflow-y: scroll;
}
.thcordercardwrapper {
  width: 100%;
}
.thcmyordersactivelabel {
  color: #ff4d15;
  font-family: "Inter";
  transition: 0.5s ease;
}
.thcmyorderspassivelabel {
  color: #fff;
  font-family: "Inter";
  transition: 0.5s ease;
}
.myorderdetailbillrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.myorderdetailcardbutton {
  height: 35px;
  width: 110px;
  border-radius: 3px;
  background-color: #ff4d15;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  cursor: pointer;
}
.thcmyorderdetailtext{
  font-family:"Inter";
  font-size:14px;
  color:#fff;
}
@media screen and (max-width: 900px) {
  .thcmyordersactivelabel,
  .thcmyorderspassivelabel, .thcmyorderdetailtext {
    font-size: 12px;
  }

}
@media screen and (max-width: 550px) {
  .myorderdetailcardbutton {
    height: 25px;
    width: 70px;
    font-size: 12px;
  }
  .thcmyorderdetailtext{
    font-size: 10px;
  }
}
