@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.thehomiecompanyHomeContainer {
  min-height: 100vh;
  background-color: black;
  overflow-y: scroll;
  margin: 0;
}
.thehomiecompanyHomeContainer::-webkit-scrollbar {
  display: none;
}

.academyLandingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.academyLoginContainer {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 15px;
  margin-top: 30px;
  border-radius: 10px;
  height: 100%;
  z-index: 10;
}

.academyLoginHeader {
  font-family: "Bebas Neue";
  font-size: 55px;
  color: #d03200;
}

.academyLoginText {
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Inter";
  color: #ffffff;
  max-width: 450px;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: #fff 0 0 4px;
}

.academySignupContainer {
  border: 1px solid #ff4d15;
  background-color: #ff4d15;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
  font-family: montserrat-regular;
  font-size: 14px;
}
@media screen and (max-width: 700px) {
  .academyLoginHeader {
    font-size: 40px;
  }
}
