.innerordercardmaincontainer {
  width: 90vw;
  background-color: #111;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.innerordercardmaincontainer:hover {
  background-color: #222;
  transition: all 0.5s ease-in-out;
}
.innerordercardimage {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 550px) {
  .innerordercardimage {
    height: 80px;
    width: 80px;
  }
  .innerordercardmaincontainer {
    height: 130px;
    padding: 15px 15px;
  }
  .innerordercardtext {
    padding: 3px;
    margin: 0;
  }
}
